body{
    background-color: darkorchid;
    height: 100%;
}

.title-task{
    font-family: "Verdana", sans-serif;
    color:white;
    font-size: 200%;
    text-align: center;
}

.text_task{
    width: 90%;
    font-family: serif;
    background-color: lightcoral;
    font-size: 20px;
    font-weight: 400;
    padding: 10px;
    border: 3px solid green;
    margin: 10px auto;
}

.table{
    background-color: wheat;
    margin: 15px auto;
}
.cell-space{
    padding: 10px;
    border: 2px solid black;
    cursor: pointer;
}
.cell-space:hover{
    background-color: grey;
}
.cell-space_painted{
    background-color: black;
}
.cell-space_darkened{
    border-color: white;
}